<footer id="footer" class="py-1 bg-light mt-auto fixed-bottom">
  <div class="container-fluid px-4">
    <div class="">
      <div class="text-muted text-center">
        <strong>ARMADA DE CHILE</strong><br />
        Dirección General del Territorio Marítimo y de Marina Mercante<br />
        <em>
          <small>Errázuriz #537, Valparaíso, Chile (56 32) 2208000</small>
        </em>
        <br />
        <strong>Tecmar © {{hoy | date:'Y'}}</strong>
      </div>
    </div>
  </div>
</footer>