<!-- <html>

<body>
    <div class="header">
    <app-header></app-header>
</div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div id="page-container">
            <div class="content">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            <app-tabla-solicitudes></app-tabla-solicitudes>
        </div>
       
        <footer id="footer">
            <app-footer></app-footer>
        </footer>
    </div>
</body>

</html> -->


<!-- <!DOCTYPE html>
<html lang="en">

<head></head>


<body>
    <header>
    <app-header></app-header>

</header>
    <div id="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="content">
        <app-tabla-solicitudes></app-tabla-solicitudes>
    </div>

    <footer>
        <app-footer></app-footer>
    </footer>
</body>



</html> -->

<!-- <html lang="es">

<body>
    <div class="container">
        <header>
            <app-header></app-header>
        </header>
        <main>
            <app-sidebar></app-sidebar>
            <app-tabla-solicitudes></app-tabla-solicitudes>
        </main>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>
</body>

</html> -->


  <!-- <app-sidebar></app-sidebar> -->
 
    <!-- <app-header></app-header>
    <main>
      <div class="container-fluid px-4">
        <h3 class="mt-4"></h3>
        <app-tabla-solicitudes></app-tabla-solicitudes>
      </div>
    </main>
  <app-footer></app-footer> -->

<!-- <app-footer></app-footer> -->